*{
    margin:0;
    padding:0;
   
}

.box{
    width:800px;
    height:auto;
    margin-top: 10rem;
    margin-bottom:10rem;
    margin-left:55rem;
    border-color:rgb(11, 10, 75);
    border:1rem solid ;
    background-color: #f2f2f2;
    padding:5rem;
    border-radius:3rem;

}

h1{
    background-color: rgb(11, 10, 75);
    color: white;
    height: 7rem;
    text-align: center;
    line-height: 7rem;;
    font-size:45px;
    border-radius:2rem;
}

.choice{
     height:220px;
     width:220px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius:50%;
    
}


img{
    height:210px;
    width:210px;
    object-fit:cover;
    border-radius:50%;

}

img:hover{
    opacity:0.5;
    cursor:pointer;
    
}

.choices{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top:5rem;

}

.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    font-size:2rem;
    margin:4rem;

}

#user-score , #comp-score{
    font-size:4rem;  
}

.msg-container{
    display: flex;
    justify-content: center;
}
#msg{
    background-color: rgb(11, 10, 75);
    color: white;
    font-size: 2rem;
    margin-top:2rem;
    padding:2rem;
    border-radius:2rem;


}

